/* 基本px单位 */
/* 基本rem单位 */
/* 色彩 - 文字色 */
/* 基本 */
/* 基本 - 反色 */
/* 标题色 */
/* 辅助色 */
/* 文字高亮 */
/* 文本框提示 */
/* 失效 */
/* 只读 */
/* 辅助描述 */
/* 链接 */
/* 背景色 */
/* 组件默认背景 */
/* 页面背景 */
/* 组件默认背景 - 按下 */
/* 通用失效背景 */
/* 遮罩背景 */
/* 许多小图标的背景，比如一些小圆点，加减号 */
/* 透明度 */
/* switch checkbox radio 等组件禁用的透明度 */
/* 全局/品牌色 */
/* 边框色 */
/* 深色边框 */
/* 箭头边框色 */
/* 分割线色 */
/* 字体尺寸 */
/* 特殊 */
/* 正文 */
/* 标题 */
/* 头部 */
/* 圆角 */
/* 边框尺寸 */
/* 间距 */
/* 水平间距 */
/* 垂直间距 */
/* 高度 */
/* 单行行高 */
/* 多行行高 */
/* 图标尺寸 */
/* 导航条上的图标、grid的图标大小 */
/* 动画缓动 */
/* 组件变量 */
/* button */
/* checkbox */
/* calendar */
/* 选中背景色 */
/* gesture */
/* 同时应用于背景、文字颜色、边框色 */
/* modal */
/* image-picker */
/* 按钮字号 */
/* 按钮高度 */
/* list */
/* input */
/* input clear icon 的背景色 */
/* tabs */
/* message */
/* swipe */
/* avatar */
/* picker */
/* grade */
/* toast */
/* toast, activity-indicator 的背景颜色 */
/* search-bar */
/* input search icon 的背景色 */
/* notice-bar */
/* switch */
/* tag */
/* keyboard */
/* picker */
/* picker 标题的高度 */
/* z-index */
/* actonsheet 会放到 popup / modal 中 */
/* modal.alert 应该最大，其他应该较小 */
/* 手势解锁 */
.wme-avatar {
  width: calc(2.5 * 1rem);
  height: calc(2.5 * 1rem);
  border-radius: 50%;
  overflow: hidden;
  font-size: calc(0.75 * 1rem);
}
.wme-avatar-small {
  width: calc(2.25 * 1rem);
  height: calc(2.25 * 1rem);
}
.wme-avatar-large {
  width: calc(3.75 * 1rem);
  height: calc(3.75 * 1rem);
  font-size: calc(0.875 * 1rem);
}
.wme-avatar-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.65);
}
.wme-avatar-image {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.wme-avatar-title {
  background-color: #f0f0f0;
}
