/* 基本px单位 */
/* 基本rem单位 */
/* 色彩 - 文字色 */
/* 基本 */
/* 基本 - 反色 */
/* 标题色 */
/* 辅助色 */
/* 文字高亮 */
/* 文本框提示 */
/* 失效 */
/* 只读 */
/* 辅助描述 */
/* 链接 */
/* 背景色 */
/* 组件默认背景 */
/* 页面背景 */
/* 组件默认背景 - 按下 */
/* 通用失效背景 */
/* 遮罩背景 */
/* 许多小图标的背景，比如一些小圆点，加减号 */
/* 透明度 */
/* switch checkbox radio 等组件禁用的透明度 */
/* 全局/品牌色 */
/* 边框色 */
/* 深色边框 */
/* 箭头边框色 */
/* 分割线色 */
/* 字体尺寸 */
/* 特殊 */
/* 正文 */
/* 标题 */
/* 头部 */
/* 圆角 */
/* 边框尺寸 */
/* 间距 */
/* 水平间距 */
/* 垂直间距 */
/* 高度 */
/* 单行行高 */
/* 多行行高 */
/* 图标尺寸 */
/* 导航条上的图标、grid的图标大小 */
/* 动画缓动 */
/* 组件变量 */
/* button */
/* checkbox */
/* calendar */
/* 选中背景色 */
/* gesture */
/* 同时应用于背景、文字颜色、边框色 */
/* modal */
/* image-picker */
/* 按钮字号 */
/* 按钮高度 */
/* list */
/* input */
/* input clear icon 的背景色 */
/* tabs */
/* message */
/* swipe */
/* avatar */
/* picker */
/* grade */
/* toast */
/* toast, activity-indicator 的背景颜色 */
/* search-bar */
/* input search icon 的背景色 */
/* notice-bar */
/* switch */
/* tag */
/* keyboard */
/* picker */
/* picker 标题的高度 */
/* z-index */
/* actonsheet 会放到 popup / modal 中 */
/* modal.alert 应该最大，其他应该较小 */
/* 手势解锁 */
.yuso-axis {
  background-color: #fff;
}
.yuso-axis-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(3 * 1rem);
  color: rgba(0, 0, 0, 0.85);
  padding: 0 1rem;
}
.yuso-axis-header-undeline {
  border-bottom: 1px solid #f0f0f0;
}
.yuso-axis-container {
  padding: calc(1.25 * 1rem) calc(1.25 * 1rem) 0 calc(1.25 * 1rem);
}
.yuso-axis-container .yuso-axis-item {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.yuso-axis-container .yuso-axis-item:last-child {
  padding-bottom: calc(0.5 * 1rem);
}
.yuso-axis-container .yuso-axis-item:not(:last-child) {
  padding-bottom: calc(1.25 * 1rem);
}
.yuso-axis-container .yuso-axis-item-center {
  flex-grow: 1;
}
.yuso-axis-container .yuso-axis-item-center-date {
  color: rgba(0, 0, 0, 0.65);
  margin-bottom: 1rem;
}
.yuso-axis-container .yuso-axis-item-center-title {
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: calc(0.5 * 1rem);
  font-weight: bold;
  display: flex;
  align-items: center;
}
.yuso-axis-container .yuso-axis-item-center-title-right {
  justify-content: space-between;
}
.yuso-axis-container .yuso-axis-item-center-title-extra {
  padding: 0 calc(0.625 * 1rem);
  flex-shrink: 0;
}
.yuso-axis-container .yuso-axis-item-center-content {
  color: rgba(0, 0, 0, 0.65);
}
.yuso-axis-container .yuso-axis-item-center-content .yuso-list .yuso-list-item-view {
  margin-left: -1.25rem;
  margin-top: -0.5rem;
}
.yuso-axis-container .yuso-axis-item-extra {
  align-self: center;
}
.yuso-axis-container .yuso-axis-item-node {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 calc(0.625 * 1rem) 0 0;
}
.yuso-axis-container .yuso-axis-item-node-point {
  width: calc(0.875 * 1rem);
  height: calc(0.875 * 1rem);
  background-color: rgba(66, 133, 244, 0.18);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yuso-axis-container .yuso-axis-item-node-point i {
  display: block;
  width: calc(0.5 * 1rem);
  height: calc(0.5 * 1rem);
  background-color: #4285f4;
  border-radius: 50%;
}
.yuso-axis-container .yuso-axis-item-node-line {
  width: 1px;
  position: absolute;
  background-color: #f0f0f0;
}
